h1 {
  font-family: Lato;
}

.color-btn{
  display: inline-block;
  text-decoration: none;
  margin: 0.2rem 0.1rem;
  padding: 0.6rem 1.1rem;
  background-color: transparent;
  transition: all ease .3s;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}.color-btn *{
   transition: all ease .3s;
}.color-btn:hover, .color-btn:hover *{
  color: white; 
}.solid:hover{
  opacity: 0.9;
}

.green{
  border: 1px solid #2ecc71;
  color: #2ecc71;
}.green:hover{
  background-color: #2ecc71; 
}.green *{
  color: #2ecc71;
}
.solid.green{
  background-color: #2ecc71; 
  color: white;
}